<div class="aboutContainer">
    <h1 class="title">about me</h1>
    <p class="aboutMeTxt">{{text}}</p>
    <p class="contactWays">you can contact me with these ways: </p>
    <p class="contact">phone: {{phone}}</p>
    <p class="contact">email: {{email}}</p>
    <a href={{github}} class="contact">github: {{github}}</a>
</div>