<div class="articleContainer">
    <img src={{article.cover}} alt={{article.coverAlt}} class="cover">
    <h1 class="articleTitle">{{article.title}}</h1>
    <p class="articleTxt">{{article.text}}</p>
    <p class="releasDate">releas date: {{article.date}}</p>
</div>