<div class="articleCard">
    <img src={{src}} alt={{alt}} class="cover" />
    <div class="articlExtraInfos">
        <div>
            <h2 class="articleTitle">{{title}}</h2>
            <p class="articleSummary">{{text}}</p>
            <p class="articleDate">{{date}}</p>
        </div>
        <a href={{path}} class="readMore">read more</a>
    </div>
</div>